body {
  margin: 0;
}

#level-title {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 64px;
  text-shadow: 1px 0 0 #fff;
}

.alert-shown {
  box-shadow: 0 0 60px rgb(0, 247, 255);
}

.pressed {
  box-shadow: 0 0 60px rgb(0, 247, 255);
}

.App {
  text-align: center;
  background: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  margin: 0;
  padding-top: 13vh;
  height: 100vh;
}

.game-lost-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.overlay-content {
  position: absolute;
  top: 43%;
  left: 50%;
  font-size: 50px;
  color: white;
  height: 280px;
  width: 600px;
  background: linear-gradient(
    180deg,
    hsla(321, 42%, 48%, 1) 0%,
    hsla(343, 80%, 65%, 1) 100%
  );
  border-radius: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  height: 100%;
  position: relative;
  text-align: center;
}

.container-login {
  width: 100%;
  margin: auto;
  height: 100%;
  text-align: center;
}

.colorCard {
  background-color: aqua;
}

.red {
  background-color: rgb(246, 92, 92);
}

.blue {
  background-color: rgb(92, 92, 246);
}

.green {
  background-color: rgb(92, 246, 92);
}

.yellow {
  background-color: rgb(246, 246, 92);
}

.colorCard {
  margin: 40px;
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 7px solid rgb(12, 10, 10);
  border-radius: 30%;
  position: relative;
}

.imageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nftImage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  transform: translate(-50%, -50%);
}

.login-button:hover {
  content: url("./assets/login-hover.png");
}

.login-ripple:active {
  opacity: 0.5;
}
.login-ripple {
  transition: opacity 0s;
}

#login-page {
  position: relative;
  background: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  height: 100vh;
}

.title-login {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 0 18px;
  text-shadow: 1px 0 0 #fff;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  line-height: 1.3;
}

.login-button {
  border: none;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 53%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.link_wrapper {
  position: relative;
  display: inline-block;
}

#btn-out {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: rgb(0, 0, 0);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid rgb(0, 0, 0);
  transition: all 0.35s;
}

.icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all 0.35s;
}

#btn-out:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

#btn-out:hover + .icon {
  border: 3px solid #2ecc71;
  right: -25%;
}

.welcome-text {
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  width: 100%;
}

.wrapper {
  display: inline-block;
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 400px;
}
